$body-bg: #222;
$nav-bg: #ffffff;
$nav-font: #6c757d;
$hov-bg: #f8f9fa;
$hov-font: rgb(200, 111, 27);
$h-font: #fff;
$p-font: #f8f9fa;
$a-font: #6c757d;
$a-bg: #f8f9fa;
$about-font: #a4a7aa;
$about-a: rgb(200, 111, 27);
$resume-bg: #363636;
$icon-font: #bac964;
$date-col: #bac964;
$sch-col: rgb(214, 111, 15);
$item-bg: #474747;
$shadow: #696767;
$ser-bg: #363636;
$ser-item: #bac964;
$ser-icon: rgb(200, 111, 27);
$h2-font: 36px;
$h4-font: 32px;
$box-bg: rgb(200, 111, 27);
$con-bg: #363636;
$form-bg: #272727;
$skill-bg: rgb(200, 111, 27);
$form-btn: rgb(218, 123, 34);
$h4-font: #bac964;
$i-font: rgb(200, 111, 27);
